In [10]:
# Задание 1.1

word = 'test'
word[1:3]

'es'

In [11]:
# Задание 1.2

word = 'testing'
word[3:4]

't'

In [42]:
# Задание 2.1

x = int(input())
sum = 0
while x != 0:
    sum += x
    x = int(input())
print(sum)

1
4
6
0
11

In [39]:
# Задание 2.2

x = int(input())
while x == 0:
    print(x)
    break

0
0

In [37]:
# Задание 3.1
boys = ['Peter', 'Alex', 'John', 'Arthur', 'Richard']
girls = ['Kate', 'Liza', 'Kira', 'Emma', 'Trisha']

boys.sort() 
girls.sort()
boys_girls = zip(boys,girls)
print('Идеальные пары:')
for daiting, name in enumerate(boys_girls):
    print(f"{name[0]} и {name[1]}")

Идеальные пары:
Alex и Emma
Arthur и Kate
John и Kira
Peter и Liza
Richard и Trisha

In [66]:
# Задание 3.2
boys = ['Peter','Alex', 'John', 'Arthur', 'Richard', 'Michael']
girls = ['Kate', 'Liza', 'Kira', 'Emma', 'Trisha']
if len(boys)==len(girls):
    print("Идеальная пара")
else:
    print("Кто то может остаться без пары")

Кто то может остаться без пары

In [82]:
# Задание 4
countries_temperature = [
    ['Thailand', [75.2, 77, 78.8, 73.4, 68, 75.2, 77]],
    ['Germany', [57.2, 55.4, 59, 59, 53.6]],
    ['Russia', [35.6, 37.4, 39.2, 41, 42.8, 39.2, 35.6]],
    ['Poland', [50, 50, 53.6, 57.2, 55.4, 55.4]]
                        ]

for temp in countries_temperature:
    print(temp[0], '-', round((sum(temp[1]) / len(temp[1]) - 32) / 1.8, 1), 'C')

Thailand - 23.9 C
Germany - 13.8 C
Russia - 3.7 C
Poland - 12.0 C