In [3]:
import pandas as pd

### Задание 1

Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено    больше всего оценок 5.0.

In [4]:
ratings = pd.read_csv('ratings.csv')
ratings.head(10)

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931
5       1       70     3.0  964982400
6       1      101     5.0  964980868
7       1      110     4.0  964982176
8       1      151     5.0  964984041
9       1      157     5.0  964984100

In [16]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100836 entries, 0 to 100835
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   userId     100836 non-null  int64
 1   movieId    100836 non-null  int64
 2   rating     100836 non-null  float64
 3   timestamp  100836 non-null  int64
dtypes: float64(1), int64(3)
memory usage: 3.1 MB

In [5]:
movies = pd.read_csv('movies.csv')
movies.head(10)

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
5,6,Heat (1995),Action|Crime|Thriller
6,7,Sabrina (1995),Comedy|Romance
7,8,Tom and Huck (1995),Adventure|Children
8,9,Sudden Death (1995),Action
9,10,GoldenEye (1995),Action|Adventure|Thriller

In [19]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9742 entries, 0 to 9741
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  9742 non-null   int64
 1   title    9742 non-null   object
 2   genres   9742 non-null   object
dtypes: int64(1), object(2)
memory usage: 228.5+ KB

In [20]:
join = ratings.merge(movies, on='movieId', how='left') # соединяем ratings и movies по movieId
join.head()

,userId,movieId,rating,timestamp,title,genres
0,1,1,4.0,964982703,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,1,3,4.0,964981247,Grumpier Old Men (1995),Comedy|Romance
2,1,6,4.0,964982224,Heat (1995),Action|Crime|Thriller
3,1,47,5.0,964983815,Seven (a.k.a. Se7en) (1995),Mystery|Thriller
4,1,50,5.0,964982931,"Usual Suspects, The (1995)",Crime|Mystery|Thriller

In [25]:
best_movies = join[join['rating'] == 5] # выводим rating == 5
best_movies['title'].value_counts()

Shawshank Redemption, The (1994)                           153
Pulp Fiction (1994)                                        123
Forrest Gump (1994)                                        116
Matrix, The (1999)                                         109
Star Wars: Episode IV - A New Hope (1977)                  104
                                                          ...
Flubber (1997)                                               1
Pirates of the Caribbean: Dead Men Tell No Tales (2017)      1
Hidden Figures (2016)                                        1
Star Wars: The Last Jedi (2017)                              1
Birdy (1984)                                                 1
Name: title, Length: 2954, dtype: int64

In [26]:
result = best_movies['title'].value_counts().index.values[0]
print(f'Фильму {result} выставлено больше всего оценок 5.0')

Фильму Shawshank Redemption, The (1994) выставлено больше всего оценок 5.0

In [6]:
data = pd.read_csv('ratings.csv')
data.head()

data.info()

sort = data[data['rating'] == 5.0] #### Доработка после проверки с фильтром
sort.to_csv("rating5.csv")  ### запись нового файла

sort.info()

join = sort.merge(movies, on='movieId', how='left')
join.head()

best_movies = join[join['rating'] == 5]
best_movies['title'].value_counts()

result = best_movies['title'].value_counts().index.values[0]
print(f'Фильму {result} выставлено больше всего оценок 5.0')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100836 entries, 0 to 100835
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   userId     100836 non-null  int64
 1   movieId    100836 non-null  int64
 2   rating     100836 non-null  float64
 3   timestamp  100836 non-null  int64
dtypes: float64(1), int64(3)
memory usage: 3.1 MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 13211 entries, 3 to 100834
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   userId     13211 non-null  int64
 1   movieId    13211 non-null  int64
 2   rating     13211 non-null  float64
 3   timestamp  13211 non-null  int64
dtypes: float64(1), int64(3)
memory usage: 516.1 KB
Фильму Shawshank Redemption, The (1994) выставлено больше всего оценок 5.0

In [2]:
sort.info()

NameError: name 'sort' is not defined

### Задание 2

По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за    период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [4]:
data = pd.read_csv('power.csv')
data.head()

   country  year  quantity  category
0  Austria  1996       5.0         1
1  Austria  1995      17.0         1
2  Belgium  2014       0.0         1
3  Belgium  2013       0.0         1
4  Belgium  2012      35.0         1

In [68]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1189482 entries, 0 to 1189481
Data columns (total 4 columns):
 #   Column    Non-Null Count    Dtype
---  ------    --------------    -----
 0   country   1189482 non-null  object
 1   year      1189482 non-null  int64
 2   quantity  1189482 non-null  float64
 3   category  1189482 non-null  int64
dtypes: float64(1), int64(2), object(1)
memory usage: 36.3+ MB

In [59]:
country = data[(data['country']=='Estonia') | (data['country']=='Latvia') | (data['country']=='Lithuania')]
category = country[(country['category'] == 4) | (country['category'] == 12) | (country['category'] == 21)]
year = category[(category['year'] >= 2005) & (category['year'] <= 2010)]
quantity = year[year['quantity'] >= 0]
count_quantity = quantity['quantity'].sum()
print(f'Суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) \nкатегорий 4, 12 и 21 \nза период с 2005 по 2010 года: {count_quantity}')

Суммарное потребление стран Прибалтики (Латвия, Литва и Эстония)
категорий 4, 12 и 21
за период с 2005 по 2010 года: 240580.0

In [11]:
country = data[data['country'].isin(['Latvia', 'Estonia', 'Lithuania'])] ### фильтр методом .isin
category = country[country['category'].isin([4, 12 ,21])]
year = category[(category['year'] >= 2005) & (category['year'] <= 2010)]
quantity = year[year['quantity'] >= 0]
count_quantity = quantity['quantity'].sum()
print(f'Суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) \nкатегорий 4, 12 и 21 \nза период с 2005 по 2010 года: {count_quantity}')

Суммарное потребление стран Прибалтики (Латвия, Литва и Эстония)
категорий 4, 12 и 21
за период с 2005 по 2010 года: 240580.0

In [22]:
### Разделитель без [] скобок
country = data[data.country.isin(['Latvia', 'Estonia', 'Lithuania'])] ### фильтр методом .isin
category = country[country.category.isin([4, 12 ,21])]
year = category[category.year >= 2005 & (category.year <= 2010)]
quantity = year[year.quantity >= 0]
count_quantity = quantity.quantity.sum()
print(f'Суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) \nкатегорий 4, 12 и 21 \nза период с 2005 по 2010 года: {count_quantity}')

Суммарное потребление стран Прибалтики (Латвия, Литва и Эстония)
категорий 4, 12 и 21
за период с 2005 по 2010 года: 970728.0

### Задание 3

Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.   
Примеры страниц (необязательно брать именно эти):    
https://fortrader.org/quotes   
https://www.finanz.ru/valyuty/v-realnom-vremeni

In [60]:
pd.read_html('https://www.finanz.ru/valyuty/v-realnom-vremeni', encoding='utf-8')[0]

,0,1,2,3,4,5,6,7,8,9,10,11
0,ММВБ,3 544,"-0,8%",Nasdaq,13 895,"-0,5%",Биткойн,55 910,"-2,3%",USD/RUB,749836,"0,0%"
1,РТС,1 485,"-1,7%",S&P500,4 193,"0,3%",Нефть,677,"0,0%",EUR/RUB,903160,"-0,2%"
2,Dow,34 113,"0,7%",FTSE100,6 970,"0,1%",Золото,1 790,"-0,1%",EUR/USD,12045,"-0,2%"

In [61]:
page_url = 'https://www.finanz.ru/valyuty/btc-usd'

In [62]:
df = pd.read_html(page_url, attrs = {'class': 'news_table'}, encoding='utf-8')

In [65]:
df[:5]

[       Дата     Закрытие     Открытие     Максимум      Минимум
 0  04.05.21  53 276,7900  57 196,7188  57 214,8906  53 276,7891
 1  03.05.21  57 213,0200  56 593,7891  58 919,1992  56 587,5117
 2  02.05.21  56 609,0700  57 819,7617  57 872,9297  56 170,2813
 3  01.05.21  57 792,1700  57 696,9688  58 431,3984  57 102,0508
 4  30.04.21  57 792,3500  53 572,1211  57 878,6484  53 148,2617
 5  29.04.21  53 574,5500  54 914,6719  55 138,1406  52 477,2188
 6  28.04.21  54 794,0400  55 065,6211  56 243,3086  53 985,9414
 7  27.04.21  55 009,0900  53 986,6797  55 442,8008  53 401,0117
 8  26.04.21  54 067,2500  49 168,8516  54 344,2109  48 976,5508
 9  25.04.21  49 078,0400  50 191,7109  50 568,2891  47 278,0703,
        Имя  Unnamed: 1      %     курс                 Дата
 0  EUR/RUB         NaN  -4299   900885  04.05.2021 14:53:00
 1  USD/RUB         NaN   -149    74985  04.05.2021 15:00:00
 2  CHF/RUB         NaN   -308   820656  04.05.2021 15:00:00
 3  JPY/RUB         NaN  -2357     6861  04.05.2021 15:00:00
 4  GBP/RUB         NaN  -3598  1039509  04.05.2021 15:00:00
 5  NOK/RUB         NaN  -3873    90124  04.05.2021 15:00:00
 6  AUD/RUB         NaN  -7454   577967  04.05.2021 15:00:00
 7  NZD/RUB         NaN -10216   534564  04.05.2021 15:00:00
 8  TRY/RUB         NaN  -9833    90023  04.05.2021 15:00:00]